.blk_18 {position:relative; padding:0 38px; ZOOM: 1}
.blk_18 .pcont {
FLOAT: left; OVERFLOW: hidden; WIDTH: 100%;
}
.blk_18 .ScrCont {
WIDTH: 32766px; ZOOM: 1
}
.blk_18 #List1_1 {
FLOAT: left
}
.blk_18 #List2_1 {
FLOAT: left
}

.LeftBotton,.RightBotton{ position:absolute; width:34px; height:29px; z-index:9999;}
.LeftBotton{ left:0; top:0;}
.RightBotton{ right:0; top:0;}

#List1_1 li,#List2_1 li{float:left; height:29px; margin:0px; margin-left:5px;}
#List1_1 li a,#List2_1 li a{  color: #1f526e; text-shadow: 1px 1px 2px #fff;display:block;height:24px;line-height:24px; margin-top:3px; padding:0 20px; font-weight:bold; font-size: 14px;}
#List1_1 li a:hover,#List2_1 li a:hover { padding:0 19px;height:22px;line-height:22px;border:1px solid #7cbadf;text-decoration:none;color: #e51412;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;background:url('../images/daohang/nav-select.png') repeat-x;}


.commu_cont3 {
MARGIN: 9px 7px 7px; LINE-HEIGHT: 150%
}
.commu_cont3 UL {
WIDTH: 188px
}