<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@redhat7:1521:orcl</property>
		<property name="hibernate.connection.username">demo</property>
		<property name="hibernate.connection.password">demo</property>
		<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
		
		<!-- <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://jason.ss.tao/demo</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property> 
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->

		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
		<property name="hibernate.connection.pool_size">1</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- 
		<mapping resource="jason/ss/tao/entity/Person.hbm.xml" />
		<mapping resource="jason/ss/tao/entity/IdCard.hbm.xml" />
		<mapping resource="jason/ss/tao/entity/Group.hbm.xml" />
		
		<mapping resource="jason/ss/tao/entity/Student.hbm.xml" />
		<mapping resource="jason/ss/tao/entity/Classes.hbm.xml" />
		
		<mapping resource="jason/ss/tao/entity/Teacher.hbm.xml" />
		<mapping resource="jason/ss/tao/entity/Cource.hbm.xml" />

		<mapping resource="jason/ss/tao/entity/Composite.hbm.xml" />
		-->
		<mapping resource="jason/ss/tao/entity/Employee.hbm.xml" />

		<!-- <mapping resource="jason/ss/tao/entity/Collections.hbm.xml" /> -->
	</session-factory>
</hibernate-configuration>
