@charset "utf-8";
/* CSS Document */


.specil_button li{ float:left; margin:0 3px; overflow:hidden; padding:0 2px; height:20px; }
.specil_button li a{ color:#FFF; line-height:20px; display:block; text-decoration: none;}
.s_b_1{ background:#327ab7;
border-radius: 3px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */ 
-moz-border-radius: 3px; /* Mozilla浏览器的私有属性 */ 
-webkit-border-radius: 3px; /* Webkit浏览器的私有属性 */ 
border:1px solid #2e6ca5;
}
.s_b_2{ background:#d9524e;
border-radius: 3px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */ 
-moz-border-radius: 3px; /* Mozilla浏览器的私有属性 */ 
-webkit-border-radius: 3px; /* Webkit浏览器的私有属性 */ 
border:1px solid #d53e3a;
}
.s_b_3{ background:#f1ad4e;
border-radius: 3px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */ 
-moz-border-radius: 3px; /* Mozilla浏览器的私有属性 */ 
-webkit-border-radius: 3px; /* Webkit浏览器的私有属性 */ 
border:1px solid #efa336;
}

.specil_button li a span{ float:left; display:block; width:20px; height:20px;  background:url(../images/suibian.png) no-repeat;}

.specil_button li a .sphone{background-position:0px 0px;}
.specil_button li a .sfax{background-position:-18px 0px;}